/* Styles pour l'effet glitch */
.glitch-wrapper {
  width: 100%;
  height: 100%;
  display: block;
}

.glitch {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 4px;
  position: relative;
  z-index: 1;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.glitch-hover:before,
.glitch-hover:after {
  opacity: 0.8;
}

.glitch:before {
  animation: glitch-color 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #00ffff;
  z-index: -1;
}

.glitch:after {
  animation: glitch-color 0.8s cubic-bezier(0.25, 0.46, 0.45,0.94) reverse both infinite;
  color: #ff00ff;
  z-index: -2;
}

@keyframes glitch-color {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-3px, 3px);
  }
  20% {
    transform: translate(-3px, -3px);
  }
  30% {
    transform: translate(3px, -3px);
  }
  40% {
    transform: translate(-3px, 3px);
  }
  50% {
    transform: translate(3px, 3px);
  }
  60% {
    transform: translate(-3px, 3px);
  }
  70% {
    transform: translate(3px, -4px);
  }
  80% {
    transform: translate(-3px, -3px);
  }
  90% {
    transform: translate(3px, 3px);
  }
  to {
    transform: translate(0);
  }
}
