/* Styles pour l'effet glitch */
.glitch-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.glitch {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 4px;
  position: relative;
  z-index: 1;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.glitch-hover:before,
.glitch-hover:after {
  opacity: 0.8;
}

.glitch:before {
  animation: glitch-color 1.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #f5a9b8;
  z-index: -1;
}

.glitch:after {
  animation: glitch-color 1.25s cubic-bezier(0.25, 0.46, 0.45,0.94) reverse both infinite;
  color: #5bcefa;
  z-index: -2;
}

@keyframes glitch-color {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-0.125vw, 0.125vh);
  }
  20% {
    transform: translate(-0.125vw, -0.125vh);
  }
  30% {
    transform: translate(0.125vw, -0.125vh);
  }
  40% {
    transform: translate(-0.125vw, 0.125vh);
  }
  50% {
    transform: translate(0.125vw, 0.125vh);
  }
  60% {
    transform: translate(-0.125vw, 0.125vh);
  }
  70% {
    transform: translate(0.125vw, -0.125vh);
  }
  80% {
    transform: translate(-0.125vw, -0.125vh);
  }
  90% {
    transform: translate(0.125vw, 0.125vh);
  }
  100% {
    transform: translate(-0.125vw, -0.125vh);
  }
}
