/* Styles CSS généraux */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f8f8;
  transition: background-color 0.5s ease;
}

body.dark-mode {
  background-color: #000;
  color: #fff;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-title {
  font-size: 36px;
  margin-bottom: 20px;
  color: #00ffff;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  position: relative;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.ingredients {
  font-size: 18px;
  margin-bottom: 20px;
  color: #000;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.instructions {
  font-size: 18px;
  margin-bottom: 20px;
  color: #000;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

/* Styles for dark mode */
body.dark-mode .container {
  background-color: #111;
  color: #fff;
}

body.dark-mode .recipe-title {
  color: #fff;
}

body.dark-mode .ingredients, body.dark-mode .instructions {
  color: #fff;
}

.dark-mode-wrapper {
  margin-top: 50px;
  text-align: center;
}
